:root {
  --bg: #FFFFFF;
  --dark_bg: #BFC0C0;
  --text: #2D3142;
  --light_text: #4F5D75;
  --red: #F4796B;
  --orange: #F05D23;
  --green: #7EA16B;
  --yellow: #FFD447;
  --light_cyan: #9BC1BC;
  --dark_cyan: #5CA4A9;
}

body {
  margin: auto;
  max-width: 40em;
  background: var(--bg);
  color: var(--light_text);
  font-family: 'Helvetica', 'Arial', sans-serif;
}

hr {
  border-top: 1px;
}

a {
  color: var(--light_text);
}
a:hover {
  font-weight: 900;
}

.logout {
  float: right;
  padding: 1em 1em;
  background: var(--red);
}
.logout a {
  color: var(--bg);
}
.frontpage {
  padding: 1em 1em;
  background: var(--light_text);
  margin-bottom: 1em;
}
.frontpage a {
  color: var(--bg);
}
