<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Mealbase - {% block title %}{% endblock %}</title>

<body>

  <div class="Heading">
    <h1>Mealbase</h1>
  </div>

  {% if session.user_name %}
  <div class="logout">
    <a href="/logout">Log out</a>
  </div>
  <div class="userinfo">
    <i>Logged in as {{session.user_name}}</i>
  </div>
  {% endif %}

  <div class="frontpage">
    <a href="/">Front Page</a>
  </div>

  {% if error %}
  <div class="error">
    <b>Error:</b> {{error}}
  </div>
  {% endif %}
  <div class="content">
  {% block content %}{% endblock %}
  </div>
</body>
