{% extends "layout.html" %}
{% block title %}Logging{% endblock %}
{% block content %}
{% if not log_ingredients %}
<h2>Log a meal</h2>
<form action="/log_meal" method="post", id="log_meal">
Meal: <input type="text" name="meal" value="{{ prefill_meal }}">
<p>
Date: <input type="date" name="date" value="{{ default_date }}">
<p>
<input type="submit" value="Log meal">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% else %}
<h2>A new meal! Log the ingredients</h2>
<form action="/log_ingredients" method="post", id="log_ingredients">
You have not logged {{meal}} before. Input its main ingredients.
<p>
<i>separate them with a comma + space: ingredient1, ingredient2, ...</i>
<p>
<textarea name="ingredients" value="{{ prefill_ingredients }}" form="log_ingredients", rows="5", cols="33"></textarea>
<p>
<input type="submit" value="Log ingredients">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>
<a href="/log_meal">Go back to inputting meal</a>
{% endif %}
{% endblock %}
