{% extends "layout.html" %}
{% block title %}Suggestion{% endblock %}
{% block content %}
<h2>Suggested ingredients</h2>
{% if not suggestions %}
No ingredients to suggest yet.
{% else %}
Here are some ingredients you have not eaten in a while.
<p>
Click on the ingredient name to see meals that contain it.
<p>
<hr>
{% for suggestion in suggestions %}
<b>Ingredient:</b> <a href="/get_meals_with_{{ suggestion[0] }}"> {{ suggestion[0] }}</a>
<p>
<b>Days since last eating:</b> {{suggestion[1]}}
<hr>
{% endfor %}
{% endif %}
{% endblock %}
